# Building a Data Pipeline with dlt

In this notebook, we will build a complete data pipeline from scratch using **dlt**.

Our goal is simple:

‚Üí Fetch real data from an API  
‚Üí Turn it into clean relational tables  
‚Üí Load it into a database  
‚Üí Explore and analyze it  

We will use the **Open Library API** as our data source and **DuckDB** as our database.

Along the way, you will learn:

- What a dlt source is  
- What a dlt pipeline does  
- How data moves through Extract ‚Üí Normalize ‚Üí Load  
- How to inspect and explore the final dataset  

By the end, you will understand not just how to run a pipeline, but what happens at each stage.

## üì¶ Step 0: Install Dependencies

In [13]:
# install dependencies first
# pip -q install dlt[duckdb]
! pip install dlt duckdb

Requirement already satisfied: dlt in /opt/anaconda3/lib/python3.13/site-packages (1.22.1)
Collecting duckdb
  Downloading duckdb-1.4.4-cp313-cp313-macosx_11_0_arm64.whl.metadata (4.3 kB)
Requirement already satisfied: click>=7.1 in /opt/anaconda3/lib/python3.13/site-packages (from dlt) (8.2.1)
Requirement already satisfied: fsspec>=2022.4.0 in /opt/anaconda3/lib/python3.13/site-packages (from dlt) (2025.10.0)
Requirement already satisfied: gitpython>=3.1.29 in /opt/anaconda3/lib/python3.13/site-packages (from dlt) (3.1.45)
Requirement already satisfied: giturlparse>=0.10.0 in /opt/anaconda3/lib/python3.13/site-packages (from dlt) (0.14.0)
Requirement already satisfied: humanize>=4.4.0 in /opt/anaconda3/lib/python3.13/site-packages (from dlt) (4.15.0)
Requirement already satisfied: jsonpath-ng>=1.5.3 in /opt/anaconda3/lib/python3.13/site-packages (from dlt) (1.8.0)
Requirement already satisfied: orjson!=3.10.1,!=3.9.11,!=3.9.12,!=3.9.13,!=3.9.14,<4,>=3.6.7 in /opt/anaconda3/lib/python3.13/site-packages (from dlt) (3.11.7)
Requirement already satisfied: packaging>=21.1 in /opt/anaconda3/lib/python3.13/site-packages (from dlt) (25.0)
Requirement already satisfied: pathvalidate>=2.5.2 in /opt/anaconda3/lib/python3.13/site-packages (from dlt) (3.3.1)
Requirement already satisfied: pendulum>=2.1.2 in /opt/anaconda3/lib/python3.13/site-packages (from dlt) (3.2.0)
Requirement already satisfied: pluggy>=1.3.0 in /opt/anaconda3/lib/python3.13/site-packages (from dlt) (1.5.0)
Requirement already satisfied: pytz>=2022.6 in /opt/anaconda3/lib/python3.13/site-packages (from dlt) (2025.2)
Requirement already satisfied: pyyaml>=5.4.1 in /opt/anaconda3/lib/python3.13/site-packages (from dlt) (6.0.3)
Requirement already satisfied: requests>=2.26.0 in /opt/anaconda3/lib/python3.13/site-packages (from dlt) (2.32.5)
Requirement already satisfied: requirements-parser>=0.5.0 in /opt/anaconda3/lib/python3.13/site-packages (from dlt) (0.13.0)
Requirement already satisfied: rich-argparse>=1.6.0 in /opt/anaconda3/lib/python3.13/site-packages (from dlt) (1.7.2)
Requirement already satisfied: semver>=3.0.0 in /opt/anaconda3/lib/python3.13/site-packages (from dlt) (3.0.4)
Requirement already satisfied: setuptools>=65.6.0 in /opt/anaconda3/lib/python3.13/site-packages (from dlt) (80.9.0)
Requirement already satisfied: simplejson>=3.17.5 in /opt/anaconda3/lib/python3.13/site-packages (from dlt) (3.20.2)
Requirement already satisfied: sqlglot>=25.4.0 in /opt/anaconda3/lib/python3.13/site-packages (from dlt) (29.0.1)
Requirement already satisfied: tenacity>=8.0.2 in /opt/anaconda3/lib/python3.13/site-packages (from dlt) (9.1.2)
Requirement already satisfied: tomlkit>=0.11.3 in /opt/anaconda3/lib/python3.13/site-packages (from dlt) (0.13.3)
Requirement already satisfied: typing-extensions>=4.8.0 in /opt/anaconda3/lib/python3.13/site-packages (from dlt) (4.15.0)
Requirement already satisfied: tzdata>=2022.1 in /opt/anaconda3/lib/python3.13/site-packages (from dlt) (2025.2)
Requirement already satisfied: gitdb<5,>=4.0.1 in /opt/anaconda3/lib/python3.13/site-packages (from gitpython>=3.1.29->dlt) (4.0.12)
Requirement already satisfied: smmap<6,>=3.0.1 in /opt/anaconda3/lib/python3.13/site-packages (from gitdb<5,>=4.0.1->gitpython>=3.1.29->dlt) (4.0.0)
Requirement already satisfied: python-dateutil>=2.6 in /opt/anaconda3/lib/python3.13/site-packages (from pendulum>=2.1.2->dlt) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.13/site-packages (from python-dateutil>=2.6->pendulum>=2.1.2->dlt) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /opt/anaconda3/lib/python3.13/site-packages (from requests>=2.26.0->dlt) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.13/site-packages (from requests>=2.26.0->dlt) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.13/site-packages (from requests>=2.26.0->dlt) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.13/site-packages (from requests>=2.26.0->dlt) (2025.11.12)
Requirement already satisfied: rich>=11.0.0 in /opt/anaconda3/lib/python3.13/site-packages (from rich-argparse>=1.6.0->dlt) (14.2.0)
Requirement already satisfied: markdown-it-py>=2.2.0 in /opt/anaconda3/lib/python3.13/site-packages (from rich>=11.0.0->rich-argparse>=1.6.0->dlt) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /opt/anaconda3/lib/python3.13/site-packages (from rich>=11.0.0->rich-argparse>=1.6.0->dlt) (2.19.2)
Requirement already satisfied: mdurl~=0.1 in /opt/anaconda3/lib/python3.13/site-packages (from markdown-it-py>=2.2.0->rich>=11.0.0->rich-argparse>=1.6.0->dlt) (0.1.2)
Downloading duckdb-1.4.4-cp313-cp313-macosx_11_0_arm64.whl (13.7 MB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚ï∫‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 4.5/13.7 MB 4.9 MB/s eta 0:00:02:02
WARNING: Connection timed out while downloading.
WARNING: Attempting to resume incomplete download (4.5 MB/13.7 MB, attempt 1)
Resuming download duckdb-1.4.4-cp313-cp313-macosx_11_0_arm64.whl (4.5 MB/13.7 MB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 13.7/13.7 MB 1.9 MB/s  0:00:04m 1.8 MB/s eta 0:00:01
Installing collected packages: duckdb
Successfully installed duckdb-1.4.4

<p>In this notebook we will use:</p>

<ul>
  <li><strong>dlt</strong> to extract, normalize, and load data</li>
  <li><strong>DuckDB</strong> as the destination database (runs locally inside Colab)</li>
</ul>

<p>
  DuckDB is great for beginners because it requires no setup and no credentials.
</p>

## üìö Step 1: Import Libraries


<p>In this cell we import the libraries we will use throughout the notebook:</p>

<ul>
  <li><strong>dlt</strong> is the main library for building and running the pipeline</li>
  <li><strong>rest_api_source</strong> helps us define an API source using a simple configuration</li>
  <li><strong>islice</strong> (from <code>itertools</code>) is a small Python helper for previewing only a few records</li>
</ul>

In [14]:
import dlt
from itertools import islice
from dlt.sources.rest_api import rest_api_source

## üîó Step 2: Define the API Source (Open Library)

<p>
  In <strong>dlt</strong>, a <strong>source</strong> is the part of your pipeline that knows how to fetch data from somewhere.
  In this notebook, our source fetches data from the <strong>Open Library Search API</strong>.
</p>

<p>
  We define the source using <code>rest_api_source</code>, which lets us describe an API in a simple
  Python dictionary instead of writing lots of request code.
</p>

<p>
  üìñ <strong>Open Library Search API docs:</strong><br>
  <a href="https://openlibrary.org/dev/docs/api/search" target="_blank">
    https://openlibrary.org/dev/docs/api/search
  </a>
</p>

In [15]:
def openlibrary_source(query: str = "harry potter"):

    return rest_api_source({
        "client": {
            "base_url": "https://openlibrary.org",
        },
        "resource_defaults": {
            "primary_key": "key",
            "write_disposition": "replace",
        },
        "resources": [
            {
                "name": "books",
                "endpoint": {
                    "path": "search.json",
                    "params": {
                        "q": query,
                        "limit": 100,
                    },
                    "data_selector": "docs",
                    "paginator": {
                        "type": "offset",
                        "limit": 100,
                        "offset_param": "offset",
                        "limit_param": "limit",
                        "total_path": "numFound",
                    },
                },
            },
        ],
    })

## üîß Step 3: Create the dlt Pipeline

In [16]:
pipeline = dlt.pipeline(
    pipeline_name="ol_demo",
    destination="duckdb",
    dataset_name="ol_data",
    progress="log" # logs the pipeline run (Optional)
)

## üîç Understanding the Pipeline

At this point we have defined two key building blocks:

- **The source** describes where the data comes from and how to fetch it from the API.  
- **The pipeline** describes where the data should go (DuckDB) and keeps track of tables, schemas, and run history.  

---

Instead of running everything at once, we will now run the pipeline in three separate phases so you can clearly see what happens at each stage:

1. **Extract**: download raw data from the API  
2. **Normalize**: turn nested JSON into relational tables  
3. **Load**: write those tables into DuckDB

![ETL Diagram](https://github.com/anair123/data-engineering-zoomcamp/blob/workshop/dlt_2026/cohorts/2026/workshops/dlt/images/etl_diagram.png?raw=1)

Once these steps make sense, we will run the full workflow again using one command:

```python
pipeline.run(source)

## ‚¨áÔ∏è Step 4: Extract

Now we run the first stage of the pipeline: **Extract**.

Extract means:

- dlt sends requests to the Open Library API
- the raw JSON responses are downloaded
- the results are stored in dlt‚Äôs local working folder

At this stage, the data is **not** in DuckDB yet. We are just confirming that we successfully pulled data from the API.

In [17]:
extract_info = pipeline.extract(openlibrary_source())

------------------------------- Extract rest_api -------------------------------
Resources: 0/1 (0.0%) | Time: 0.00s | Rate: 0.00/s
Memory usage: 140.64 MB (66.80%) | CPU usage: 0.00%

------------------------------- Extract rest_api -------------------------------
Resources: 0/1 (0.0%) | Time: 1.24s | Rate: 0.00/s
books: 100  | Time: 0.00s | Rate: 9986438.10/s
Memory usage: 149.33 MB (66.90%) | CPU usage: 0.00%

------------------------------- Extract rest_api -------------------------------
Resources: 0/1 (0.0%) | Time: 2.29s | Rate: 0.00/s
books: 300  | Time: 1.05s | Rate: 285.77/s
Memory usage: 150.48 MB (66.30%) | CPU usage: 0.00%

------------------------------- Extract rest_api -------------------------------
Resources: 0/1 (0.0%) | Time: 3.59s | Rate: 0.00/s
books: 500  | Time: 2.34s | Rate: 213.49/s
Memory usage: 152.30 MB (66.30%) | CPU usage: 0.00%

------------------------------- Extract rest_api -------------------------------
Resources: 0/1 (0.0%) | Time: 4.99s | Rate: 0.00/s
books: 700  | Time: 3.75s | Rate: 186.73/s
Memory usage: 152.72 MB (66.30%) | CPU usage: 0.00%

------------------------------- Extract rest_api -------------------------------
Resources: 0/1 (0.0%) | Time: 6.50s | Rate: 0.00/s
books: 1000  | Time: 5.25s | Rate: 190.31/s
Memory usage: 153.69 MB (66.40%) | CPU usage: 0.00%

------------------------------- Extract rest_api -------------------------------
Resources: 0/1 (0.0%) | Time: 7.54s | Rate: 0.00/s
books: 1200  | Time: 6.30s | Rate: 190.55/s
Memory usage: 154.41 MB (66.40%) | CPU usage: 0.00%

------------------------------- Extract rest_api -------------------------------
Resources: 0/1 (0.0%) | Time: 8.58s | Rate: 0.00/s
books: 1400  | Time: 7.34s | Rate: 190.75/s
Memory usage: 155.12 MB (66.40%) | CPU usage: 0.00%

------------------------------- Extract rest_api -------------------------------
Resources: 0/1 (0.0%) | Time: 9.59s | Rate: 0.00/s
books: 1600  | Time: 8.35s | Rate: 191.69/s
Memory usage: 155.20 MB (66.40%) | CPU usage: 0.00%

------------------------------- Extract rest_api -------------------------------
Resources: 0/1 (0.0%) | Time: 10.89s | Rate: 0.00/s
books: 1900  | Time: 9.65s | Rate: 196.97/s
Memory usage: 155.72 MB (66.40%) | CPU usage: 0.00%

------------------------------- Extract rest_api -------------------------------
Resources: 0/1 (0.0%) | Time: 12.26s | Rate: 0.00/s
books: 2200  | Time: 11.02s | Rate: 199.70/s
Memory usage: 156.89 MB (66.40%) | CPU usage: 0.00%

------------------------------- Extract rest_api -------------------------------
Resources: 0/1 (0.0%) | Time: 13.41s | Rate: 0.00/s
books: 2400  | Time: 12.16s | Rate: 197.31/s
Memory usage: 157.23 MB (66.40%) | CPU usage: 0.00%

------------------------------- Extract rest_api -------------------------------
Resources: 0/1 (0.0%) | Time: 14.88s | Rate: 0.00/s
books: 2700  | Time: 13.63s | Rate: 198.03/s
Memory usage: 157.34 MB (66.30%) | CPU usage: 0.00%

------------------------------- Extract rest_api -------------------------------
Resources: 0/1 (0.0%) | Time: 16.06s | Rate: 0.00/s
books: 2900  | Time: 14.81s | Rate: 195.79/s
Memory usage: 157.88 MB (66.40%) | CPU usage: 0.00%

------------------------------- Extract rest_api -------------------------------
Resources: 0/1 (0.0%) | Time: 17.10s | Rate: 0.00/s
books: 3100  | Time: 15.86s | Rate: 195.51/s
Memory usage: 158.67 MB (66.50%) | CPU usage: 0.00%

------------------------------- Extract rest_api -------------------------------
Resources: 0/1 (0.0%) | Time: 18.16s | Rate: 0.00/s
books: 3300  | Time: 16.91s | Rate: 195.13/s
Memory usage: 159.38 MB (66.50%) | CPU usage: 0.00%

------------------------------- Extract rest_api -------------------------------
Resources: 0/1 (0.0%) | Time: 19.19s | Rate: 0.00/s
books: 3500  | Time: 17.95s | Rate: 195.00/s
Memory usage: 159.41 MB (66.50%) | CPU usage: 0.00%

------------------------------- Extract rest_api -------------------------------
Resources: 0/1 (0.0%) | Time: 20.26s | Rate: 0.00/s
books: 3700  | Time: 19.01s | Rate: 194.62/s
Memory usage: 159.67 MB (66.50%) | CPU usage: 0.00%

------------------------------- Extract rest_api -------------------------------
Resources: 1/1 (100.0%) | Time: 20.84s | Rate: 0.05/s
books: 3759  | Time: 19.59s | Rate: 191.86/s
Memory usage: 162.11 MB (66.50%) | CPU usage: 0.00%

------------------------------- Extract rest_api -------------------------------
Resources: 0/1 (0.0%) | Time: 0.00s | Rate: 0.00/s
Memory usage: 162.16 MB (66.50%) | CPU usage: 0.00%

------------------------------- Extract rest_api -------------------------------
Resources: 0/1 (0.0%) | Time: 0.00s | Rate: 0.00/s
_dlt_pipeline_state: 1  | Time: 0.00s | Rate: 1048576.00/s
Memory usage: 162.16 MB (66.50%) | CPU usage: 0.00%

------------------------------- Extract rest_api -------------------------------
Resources: 1/1 (100.0%) | Time: 0.01s | Rate: 68.34/s
_dlt_pipeline_state: 1  | Time: 0.01s | Rate: 74.00/s
Memory usage: 162.41 MB (66.50%) | CPU usage: 0.00%

---

### What we will print

After extraction, we will print a small summary showing:

- which **resources** were extracted
- which **tables** will be created later
- how many rows were extracted per resource

This helps confirm that the pipeline is working before we move on to normalization.

In [18]:
load_id = extract_info.loads_ids[-1]
m = extract_info.metrics[load_id][0]

print("Resources:", list(m["resource_metrics"].keys()))
print("Tables:", list(m["table_metrics"].keys()))
print("Load ID:", load_id)
print()

for resource, rm in m["resource_metrics"].items():
    print(f"Resource: {resource}")
    print(f"rows extracted: {rm.items_count}")
    print()

Resources: ['books']
Tables: ['books']
Load ID: 1772275576.573976

Resource: books
rows extracted: 3759

### What you should see after Extract

In our case, Extract shows only **one resource and one table**:

- **Resources:** `['books']`  
- **Tables:** `['books']`

That is expected.

The `search` endpoint returns a list of book results, so dlt stores those rows in a single table called `books`. The interesting part comes next, because many fields inside each row are lists or nested objects. Those will turn into additional tables during **Normalize**.

Example output:

- **25 rows extracted** means we pulled 25 search results (books)  

---

## üîÑ Step 5: Normalize

Now we run **Normalize**. This is where dlt transforms raw JSON into a clean relational structure.

During normalization, dlt does three key things:

### 1. Adds Tracking Columns to the Main Table

dlt adds special columns to every table:
- `_dlt_id`: A unique identifier for each row
- `_dlt_load_id`: Links each row to the load job that created it

### 2. Flattens Nested Data into Child Tables

APIs often return nested JSON. For example, a book can have multiple authors (a list), multiple editions, and multiple identifiers.

dlt flattens these nested structures into separate **child tables** with names like:
- `books__author_name`
- `books__author_key`
- `books__language`

Each child table has a `_dlt_parent_id` column that references `_dlt_id` in the parent table. This is how dlt maintains relationships.

### 3. Creates Metadata Tables

dlt also creates internal tables to track pipeline state:
- `_dlt_loads`: Tracks load history (when data was loaded, status)
- `_dlt_pipeline_state`: Stores pipeline state for incremental loading
- `_dlt_version`: Tracks schema versions

In the next cell, we will print a summary showing which tables were created.

In [19]:
normalize_info = pipeline.normalize()

------------------- Normalize rest_api in 1772275576.573976 --------------------
Files: 0/2 (0.0%) | Time: 0.00s | Rate: 0.00/s
Memory usage: 163.66 MB (66.70%) | CPU usage: 0.00%

------------------- Normalize rest_api in 1772275576.573976 --------------------
Files: 0/2 (0.0%) | Time: 0.00s | Rate: 0.00/s
Items: 0  | Time: 0.00s | Rate: 0.00/s
Memory usage: 163.66 MB (66.70%) | CPU usage: 0.00%

------------------- Normalize rest_api in 1772275576.573976 --------------------
Files: 10/2 (500.0%) | Time: 0.36s | Rate: 28.08/s
Items: 23083  | Time: 0.36s | Rate: 64891.31/s
Memory usage: 230.05 MB (66.80%) | CPU usage: 0.00%

In [20]:
load_id = normalize_info.loads_ids[-1]
m = normalize_info.metrics[load_id][0]

print("Load ID:", load_id)
print()

print("Tables created/updated:")
for table_name, tm in m["table_metrics"].items():
    # skip dlt internal tables to keep it beginner-friendly
    if table_name.startswith("_dlt"):
        continue
    print(f"  - {table_name}: {tm.items_count} rows")

Load ID: 1772275576.573976

Tables created/updated:
  - books: 3759 rows
  - books__author_key: 4637 rows
  - books__author_name: 4637 rows
  - books__ia: 3434 rows
  - books__ia_collection: 2735 rows
  - books__language: 3748 rows
  - books__id_standard_ebooks: 12 rows
  - books__id_librivox: 64 rows
  - books__id_project_gutenberg: 56 rows

### What happened during Normalize?

After running `pipeline.normalize()`, we now see multiple tables instead of just one.

Tables created/updated:

- `books`
- `books__author_key`
- `books__author_name`
- `books__editions__docs`
- `books__editions__docs__language`
- `books__ia`

---

### What does this mean?

We started with **N book search results** in the `books` table.

During normalization:

- Each book may have **more than N authors**, so those were split into:
  - `books__author_name`
  - `books__author_key`

- Each book may contain **edition information**, which became:
  - `books__editions__docs`

- Some editions contain **language information**, which became:
  - `books__editions__docs__language`

- The `ia` field (Internet Archive IDs) is a list, so it became:
  - `books__ia`

This is the key moment in the pipeline.

The data has been transformed from nested JSON into a **relational structure** with multiple linked tables. This makes it much easier to query and analyze.

---

### Schema Visualization

dlt can render the schema as a visual diagram. Run the next cell to see the parent-child table relationships:

In [21]:
# Display schema
pipeline.default_schema

<dlt.Schema(name='rest_api', version=2, tables=['_dlt_version', '_dlt_loads', 'books', '_dlt_pipeline_state', 'books__author_key', 'books__author_name', 'books__ia', 'books__ia_collection', 'books__language', 'books__id_standard_ebooks', 'books__id_librivox', 'books__id_project_gutenberg'], version_hash='ZJIabaQJ9DAYgsR04wEVeXOgU80roBUfdvrR2YoBEyU=')>

## üì§ Step 6: Load

Now we run the final stage of the pipeline: **Load**.

Load means:

- dlt creates tables in DuckDB (if they do not already exist)
- the normalized rows are inserted into those tables
- the pipeline records the load in its internal tracking tables

In [22]:
load_info = pipeline.load()

---------------------- Load rest_api in 1772275576.573976 ----------------------
Jobs: 0/10 (0.0%) | Time: 0.00s | Rate: 0.00/s
Memory usage: 243.12 MB (66.50%) | CPU usage: 0.00%

---------------------- Load rest_api in 1772275576.573976 ----------------------
Jobs: 10/10 (100.0%) | Time: 0.37s | Rate: 27.32/s
Memory usage: 332.00 MB (66.70%) | CPU usage: 0.00%


After this step, the data is fully stored in the database and ready to query.

At this point:

- The `books` table contains our books
- The related tables (such as `books__author_name` and `books__editions__docs`) contain the exploded nested data
- Everything is now queryable using `pipeline.dataset()` or SQL

This is the moment where the data officially moves from ‚Äúpipeline processing‚Äù into a database you can explore.

## üöÄ Step 7: Run the Full Pipeline

Now that we have walked through each step individually, we can run the entire workflow using a single command:

In [23]:
load_info = pipeline.run(openlibrary_source())

------------------------------- Extract rest_api -------------------------------
Resources: 0/1 (0.0%) | Time: 0.00s | Rate: 0.00/s
Memory usage: 334.97 MB (66.40%) | CPU usage: 0.00%

------------------------------- Extract rest_api -------------------------------
Resources: 0/1 (0.0%) | Time: 2.00s | Rate: 0.00/s
books: 100  | Time: 0.00s | Rate: 14463117.24/s
Memory usage: 335.41 MB (66.50%) | CPU usage: 0.00%

------------------------------- Extract rest_api -------------------------------
Resources: 0/1 (0.0%) | Time: 3.25s | Rate: 0.00/s
books: 300  | Time: 1.25s | Rate: 239.76/s
Memory usage: 335.45 MB (66.60%) | CPU usage: 0.00%

------------------------------- Extract rest_api -------------------------------
Resources: 0/1 (0.0%) | Time: 4.83s | Rate: 0.00/s
books: 500  | Time: 2.83s | Rate: 176.61/s
Memory usage: 335.58 MB (66.40%) | CPU usage: 0.00%

------------------------------- Extract rest_api -------------------------------
Resources: 0/1 (0.0%) | Time: 5.89s | Rate: 0.00/s
books: 700  | Time: 3.89s | Rate: 179.85/s
Memory usage: 335.70 MB (66.40%) | CPU usage: 0.00%

------------------------------- Extract rest_api -------------------------------
Resources: 0/1 (0.0%) | Time: 7.08s | Rate: 0.00/s
books: 900  | Time: 5.08s | Rate: 177.00/s
Memory usage: 335.84 MB (66.60%) | CPU usage: 0.00%

------------------------------- Extract rest_api -------------------------------
Resources: 0/1 (0.0%) | Time: 8.12s | Rate: 0.00/s
books: 1100  | Time: 6.12s | Rate: 179.78/s
Memory usage: 335.92 MB (66.60%) | CPU usage: 0.00%

------------------------------- Extract rest_api -------------------------------
Resources: 0/1 (0.0%) | Time: 9.29s | Rate: 0.00/s
books: 1300  | Time: 7.29s | Rate: 178.27/s
Memory usage: 335.97 MB (66.60%) | CPU usage: 0.00%

------------------------------- Extract rest_api -------------------------------
Resources: 0/1 (0.0%) | Time: 10.41s | Rate: 0.00/s
books: 1500  | Time: 8.41s | Rate: 178.38/s
Memory usage: 336.53 MB (66.50%) | CPU usage: 0.00%

------------------------------- Extract rest_api -------------------------------
Resources: 0/1 (0.0%) | Time: 11.73s | Rate: 0.00/s
books: 1700  | Time: 9.73s | Rate: 174.65/s
Memory usage: 337.25 MB (66.40%) | CPU usage: 0.00%

------------------------------- Extract rest_api -------------------------------
Resources: 0/1 (0.0%) | Time: 12.85s | Rate: 0.00/s
books: 1900  | Time: 10.85s | Rate: 175.09/s
Memory usage: 337.86 MB (66.50%) | CPU usage: 0.00%

------------------------------- Extract rest_api -------------------------------
Resources: 0/1 (0.0%) | Time: 14.04s | Rate: 0.00/s
books: 2100  | Time: 12.04s | Rate: 174.35/s
Memory usage: 338.16 MB (66.80%) | CPU usage: 0.00%

------------------------------- Extract rest_api -------------------------------
Resources: 0/1 (0.0%) | Time: 15.08s | Rate: 0.00/s
books: 2300  | Time: 13.08s | Rate: 175.82/s
Memory usage: 338.17 MB (66.60%) | CPU usage: 0.00%

------------------------------- Extract rest_api -------------------------------
Resources: 0/1 (0.0%) | Time: 16.23s | Rate: 0.00/s
books: 2500  | Time: 14.23s | Rate: 175.64/s
Memory usage: 338.28 MB (67.30%) | CPU usage: 0.00%

------------------------------- Extract rest_api -------------------------------
Resources: 0/1 (0.0%) | Time: 17.66s | Rate: 0.00/s
books: 2700  | Time: 15.66s | Rate: 172.38/s
Memory usage: 338.81 MB (66.30%) | CPU usage: 0.00%

------------------------------- Extract rest_api -------------------------------
Resources: 0/1 (0.0%) | Time: 18.67s | Rate: 0.00/s
books: 2900  | Time: 16.68s | Rate: 173.91/s
Memory usage: 339.42 MB (66.30%) | CPU usage: 0.00%

------------------------------- Extract rest_api -------------------------------
Resources: 0/1 (0.0%) | Time: 19.90s | Rate: 0.00/s
books: 3100  | Time: 17.90s | Rate: 173.16/s
Memory usage: 339.67 MB (66.20%) | CPU usage: 0.00%

------------------------------- Extract rest_api -------------------------------
Resources: 0/1 (0.0%) | Time: 21.01s | Rate: 0.00/s
books: 3300  | Time: 19.01s | Rate: 173.55/s
Memory usage: 339.67 MB (66.10%) | CPU usage: 0.00%

------------------------------- Extract rest_api -------------------------------
Resources: 0/1 (0.0%) | Time: 22.13s | Rate: 0.00/s
books: 3500  | Time: 20.14s | Rate: 173.81/s
Memory usage: 339.83 MB (66.20%) | CPU usage: 0.00%

------------------------------- Extract rest_api -------------------------------
Resources: 0/1 (0.0%) | Time: 23.71s | Rate: 0.00/s
books: 3700  | Time: 21.71s | Rate: 170.44/s
Memory usage: 340.53 MB (65.90%) | CPU usage: 0.00%

------------------------------- Extract rest_api -------------------------------
Resources: 1/1 (100.0%) | Time: 24.28s | Rate: 0.04/s
books: 3759  | Time: 22.29s | Rate: 168.66/s
Memory usage: 340.83 MB (66.10%) | CPU usage: 0.00%

------------------- Normalize rest_api in 1772275844.861089 --------------------
Files: 0/1 (0.0%) | Time: 0.00s | Rate: 0.00/s
Memory usage: 340.83 MB (66.10%) | CPU usage: 0.00%

------------------- Normalize rest_api in 1772275844.861089 --------------------
Files: 0/1 (0.0%) | Time: 0.00s | Rate: 0.00/s
Items: 0  | Time: 0.00s | Rate: 0.00/s
Memory usage: 340.83 MB (66.10%) | CPU usage: 0.00%

------------------- Normalize rest_api in 1772275844.861089 --------------------
Files: 9/1 (900.0%) | Time: 0.27s | Rate: 33.29/s
Items: 23082  | Time: 0.27s | Rate: 85414.60/s
Memory usage: 345.73 MB (66.10%) | CPU usage: 0.00%

---------------------- Load rest_api in 1772275844.861089 ----------------------
Jobs: 0/9 (0.0%) | Time: 0.00s | Rate: 0.00/s
Memory usage: 345.73 MB (66.10%) | CPU usage: 0.00%

---------------------- Load rest_api in 1772275844.861089 ----------------------
Jobs: 9/9 (100.0%) | Time: 0.36s | Rate: 24.93/s
Memory usage: 367.47 MB (66.30%) | CPU usage: 0.00%

<h3>What does <code>pipeline.run()</code> do?</h3>

<p>
  <code>pipeline.run()</code> simply combines the three steps we already executed manually:
</p>

<ol>
  <li><strong>Extract</strong> ‚Äì fetch data from the Open Library API</li>
  <li><strong>Normalize</strong> ‚Äì convert nested JSON into relational tables</li>
  <li><strong>Load</strong> ‚Äì write those tables into DuckDB</li>
</ol>

<p>In other words, this:</p>

<pre><code>pipeline.run(source)</code></pre>

<p>is equivalent to:</p>

<pre><code>pipeline.extract(source)
pipeline.normalize()
pipeline.load()</code></pre>

<p>
  There is no hidden magic. It just runs the full ELT process in order.
</p>

## üîé Step 8: Inspect the Loaded Data

Now that the data is loaded into DuckDB, we can inspect it using `pipeline.dataset()`.

This gives us a convenient Python interface for exploring the tables that dlt created, without writing SQL.

---

### List available tables

First, let‚Äôs see what tables exist in the dataset:

In [24]:
ds = pipeline.dataset()

In [25]:
ds.tables

['books',
 'books__author_key',
 'books__author_name',
 'books__ia',
 'books__ia_collection',
 'books__language',
 'books__id_standard_ebooks',
 'books__id_librivox',
 'books__id_project_gutenberg',
 '_dlt_version',
 '_dlt_loads',
 '_dlt_pipeline_state']

In [26]:
df = ds.books.df()      # main table
df.head(3)

,cover_edition_key,cover_i,ebook_access,edition_count,first_publish_year,has_fulltext,key,lending_edition_s,lending_identifier_s,public_scan_b,title,_dlt_load_id,_dlt_id,subtitle
0,OL61027601M,15155833,borrowable,397,1997,True,/works/OL82563W,OL38565767M,harrypotterylapi0000rowl_q5r6,False,Harry Potter and the Philosopher's Stone,1772275844.861089,hNiGzx6CNE1o2w,None
1,OL26378158M,15158660,printdisabled,144,2007,True,/works/OL82586W,None,None,False,Harry Potter and the Deathly Hallows,1772275844.861089,AvcIilc5VL2AAw,None
2,OL26234270M,10580435,borrowable,279,1999,True,/works/OL82536W,OL48101764M,bdrc-W8LS66814,False,Harry Potter and the Prisoner of Azkaban,1772275844.861089,MqfKtRmW49NWCg,None

## üí° Conclusion

### What dlt handled for us

‚úî API requests  
‚úî JSON normalization  
‚úî Table creation  
‚úî Database loading  
‚úî Simple dataset inspection  

---

### But there are still friction points

‚Ä¢ Getting the REST API config exactly right  
‚Ä¢ Remembering paginator syntax  
‚Ä¢ Remembering how to inspect tables  
‚Ä¢ Debugging schema or pagination issues  
‚Ä¢ Writing Python or SQL to get insights  

It works... but it still takes effort.

---

## üöÄ Next Up: LLM-Powered Workflows

dlt now integrates LLMs directly into the workflow to make:

‚Ä¢ Pipeline runs easier  
‚Ä¢ Debugging faster  
‚Ä¢ Schema inspection simpler  
‚Ä¢ Data analysis more natural  

Instead of writing glue code, you can use natural language.

In the workshop, we will see what that looks like.